<% FolloweeTweet.find({:follower_id => @user.id, :tweets_id => @tweets_id.to_i, :limit => @limit, :operator => '>'}).each { |tweet| %>
	<table>
		<tbody>
			<tr>
				<td>
					<p class="id" hidden><%= tweet.id %></p>
					<%= tweet.email %>　<%= tweet.created_at %>
				</td>
			</tr>
			<tr>
				<td>
					<%= tweet.text %>
				</td>
			</tr>
			<% if not tweet.image.nil? %>
				<tr>
					<td>
							<% tweet_ins = Tweet.find(tweet.id) %>
							<%= image_tag tweet_ins.image.url %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
<% } %>