<h1>Home#follow</h1>
<p>Find me in app/views/home/follow.html.erb</p>
<br>
<div id="count-new-tweets"></div>
<div class="tweet">
<% FolloweeTweet.find({:follower_id => @user.id}).each { |tweet| %>
<p class="id" hidden><%= tweet.id %></p>
<%= tweet.text %>
<%= tweet.email %>
<p class="date"><%= tweet.created_at %></p>
<% if not tweet.image.nil? %>
<% tweet_ins = Tweet.find(tweet.id) %>
<%= image_tag tweet_ins.image.url %>
<% end %>
<br>
<% } %>
</div>