<%= stylesheet_link_tag "home", :media => "all" %>
<div class="navbar navbar-expand-md bg-light sticky-top">
	<ul class="navbar-nav ml-auto">
		<li class="nav-item">
			<%= link_to "タイムライン", home_follow_path, class: "nav-link" %>
		</li>
		<li class="nav-item">
			<%= link_to "フォロワーリスト（#{@follower_rels.size}）", home_follower_list_path, class: "nav-link" %>
		</li>
		<li class="nav-item">
			<%= link_to "フォロイーリスト（#{@followee_rels.size}）", home_followee_list_path, class: "nav-link" %>
		</li>
	</ul>
</div>
<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<%= @user.private %>
<% @user.tweets.reverse.each { |tweet| %>
	<% tweet_time = (Time.now - tweet.created_at).floor / 60 %>
	<table>
		<tbody>
			<tr>
				<td>
					<% if not @user.icon.url.nil? %>
						<%= image_tag @user.icon.url, size: "50x50" %>
					<% end %>
					<%= @user.email %>
					<% if tweet_time >= 1440 %>
						<%= "#{(tweet_time / 1440)}日前" %>
					<% elsif tweet_time < 1440 && tweet_time >= 60 %>
						<%= "#{(tweet_time / 60)}時間前" %>
					<% else %>
						<%= "#{tweet_time}分前" %>
					<% end %>
				</td>
			</tr>
			<tr>
				<td>
					<%= tweet.text %>
				</td>
			</tr>
			<% if not tweet.image.url.nil? %>
				<tr>
					<td>
						<% tweet_ins = Tweet.find(tweet.id) %>
						<%= image_tag tweet_ins.image.url %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
<% } %>